<%- include ./part/header.ejs %>

<h1>Matches</h1>

<% teams.objects.forEach(team => { %>
	<a href="/score/<%= team.id %>"><%= team.team_1.name %> vs <%= team.team_2.name %></a>
<% }); %>

<%- include ./part/footer.ejs %>
