<%- include ./part/header.ejs %>

<h1 class="pool">Pool matches</h1>

<% games.forEach(game => { %>
	<a href="/score/<%= game.game_id %>">
		<div class="match">
			<div>
				<p><%= game.leftScore %></p>
				<p><%= game.leftTeam %></p>
			</div>
			<p class="vs">vs</p>
			<div>
				<p><%= game.rightScore %></p>
				<p><%= game.rightTeam %></p>
			</div>
		</div>
	</a>
<% }); %>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	// var io = require('socket.io-client');
	var socket = io();

	var color = document.querySelector('.match input');

	function test() {
		var test = this.value;
		socket.emit('test', test);
	}


	color.addEventListener('focus', test);

</script>

<%- include ./part/footer.ejs %>
