<%- include ./part/header.ejs %>

<container>
	<div id="shirts">
		<input class="hide" data-side="left" type="color" value="<%= leftColor || "#4ADB95" %>" name="<%= leftTeam %>"></input>
		<input class="hide" data-side="right" type="color" value="<%= rightColor || "#4ADB95" %>" name="<%= rightTeam %>"></input>
	</div>
	
	<div id="vs">
		<p style="border-bottom: 2px solid <%= leftColor %>;"><%= leftTeam %></p>
		<p>VS</p> 
		<p style="border-bottom: 2px solid <%= rightColor %>;"><%= rightTeam %></p>
	</div>

	<div id="score">
		<div class="hide">
			<h3 class="leftPrc"><%= leftPercentage || 0 %></h3>
			<button disabled="true">v</button>
		</div>
		<div>
			<p><%= leftScore || 0 %></p>
			<p>-</p>
			<p><%= rightScore || 0 %></p>
		</div>
		<div class="hide">
			<h3 class="rightPrc"><%= rightPercentage || 0 %></h3>
			<button disabled="true">v</button>
		</div>
	</div>

	<div class="hide progress">
		<span></span>
	</div>

	<button class="hide start">Start voting</button>
	<button class="<%= admin %> done">Done</button>
</container>

<form class="hide" method="POST" action="/score/<%= game_id %>/result">
	<h1>Match complete!</h1>
	<h2>Confirm final score</h2>
	<div>
		<input type="text" name="team_1_score" value="">
		<span>-</span>
		<input type="text" name="team_2_score" value="">
	</div>
	<button type="submit" name="submit">Confirm</button>
</form>

<div class="<%= voting %> voting overlay">
	<div class="alert">
		<h1>Voting in process
			<span>.</span><span>.</span><span>.</span>
		</h1>
		<p>Please wait a few seconds</p>
	</div>
</div>

<div id="error"></div>
<script src="/js/bundle.js"></script>
<%- include ./part/footer.ejs %>
