<%- include ./part/header.ejs %>

<container>
	<% teams.forEach(team => { %>
		<div id="vs">
			<p><%= team.team_1.name %></p> 
			<p>VS</p> 
			<p><%= team.team_2.name %></p>
		</div>
	<% }); %>

	<div id="score">
		<div class="hide">
			<h3 class="leftPrc"><%= leftPercentage || 0 %></h3>
			<button disabled="true">v</button>
		</div>
		<div>
			<p><%= leftScore || 0 %></p>
			<p>-</p>
			<p><%= rightScore || 0 %></p>
		</div>
		<div class="hide">
			<h3 class="rightPrc"><%= rightPercentage || 0 %></h3>
			<button disabled="true">v</button>
		</div>
	</div>

	<div class="hide progress">
		<span></span>
	</div>

	<button class="hide start">Start voting</button>
	<button class="hide <%= admin %> done">Done</button>
</container>

<form method="POST" action="/score/<%= teams[0].id %>/result">
	<h1>Match complete!</h1>
	<h2>Confirm final score</h2>
	<div>
		<input type="text" name="team_1_score" value="">
		<span>-</span>
		<input type="text" name="team_2_score" value="">
	</div>
	<button type="submit" name="submit">Confirm</button>
</form>

<script src="/js/bundle.js"></script>
<%- include ./part/footer.ejs %>
