<%- include ./part/header.ejs %>

<% teams.forEach(team => { %>
	<div id="vs">
		<p><%= team.team_1.name %></p> 
		<p>vs</p> 
		<p><%= team.team_2.name %></p>
	</div>
<% }); %>

<div id="score">
	<div>
		<h3 class="leftPrc"><%= leftPercentage || 0 %></h3>
		<button disabled="true">v</button>
		<button disabled="true">x</button>
	</div>
	<div>
		<p><%= leftScore || 0 %></p>
		<p>-</p>
		<p><%= rightScore || 0 %></p>
	</div>
	<div>
		<h3 class="rightPrc"><%= rightPercentage || 0 %></h3>
		<button disabled="true">v</button>
		<button disabled="true">x</button>
	</div>
</div>

<h2 class="timer"><%= counter || 0 %></h2>
<button class="start">Start voting</button>
<button class="done">Done</button>

<form class="hide" method="POST" action="/score/<%= teams[0].id %>/result">
	<h2>Final score</h2>
	<input type="text" name="team_1_score" value="">
	<input type="text" name="team_2_score" value="">
	<button type="submit" name="submit">Submit</button>
</form>

<script src="/js/bundle.js"></script>
<%- include ./part/footer.ejs %>
